<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- auto-config = true 则使用from-login. 如果不使用该属性 则默认为http-basic(没有session). -->
    <security:http auto-config="true">
        <!-- intercept-url:拦截器,可以设定哪些路径需要哪些权限来访问. filters=none 不使用过滤,也可以理解为忽略 -->
        <security:intercept-url pattern="/admin**" access="hasRole('ROLE_USER')" />

        <!-- 
            login-page:默认指定的登录页面. 
            authentication-failure-url:出错后跳转页面. 
            default-target-url:成功登陆后跳转页面 默认登录保护url 
        -->
        <security:form-login 
            login-page="/login.action" 
            default-target-url="/welcome.action" 
            authentication-failure-url="/login.action?error" 
            login-processing-url="/j_spring_security_check" 
            username-parameter="username" 
            password-parameter="password" />

        <!-- logout-success-url:成功注销后跳转到的页面; -->
        <security:logout
             logout-url="/j_spring_security_logout" 
             logout-success-url="/login.action" 
             invalidate-session="true" />

        <security:http-basic />

        <!-- enable csrf protection -->
        <security:csrf />
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="1234" authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>
