/*===========================
        清除默认样式
===========================*/
html,body{color:#666; font-family:Helvetica;margin:0; -webkit-text-size-adjust:none; padding:0; line-height:1.6em}  
div,dl,dd,dt,ul,li,ol,caption,table,tbody,thead,tfoot,th,td,tr,form,button,input,select,textarea,legend,a,p,big,small,span,strong,sub,sup,b,em,i,h1,h2,h3,h4,h5,h6,cite,q,samp,pre,code,tt,br,hr,address,img,area,map,object,del,s,header,footer{ border:none; padding:0; margin:0; list-style:none;font-style:normal;-webkit-text-size-adjust:none; vertical-align: baseline;/* chrome */ }
img,fieldset,table,input,textarea,button{border:none;}
/* 设置图片宽度 100% 
img {max-width: 100%;height: auto;width: auto\9; /* ie8}
*/
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0;)}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0;)-webkit-user-modify:read-write-plaintext-only; }
input,textarea{outline:none;resize: none/* chrome */}
ol,ul,li{vertical-align:middle;/* IE去掉li排列下空隙 */list-style:none;}
u{ text-decoration:none}
/*--table--*/
.table{border:0; padding:0; margin:0;border-collapse:collapse;}
.table th,.table td{border:0;}
/*--===全局链接===--*/
a{ text-decoration:none;outline:none;color:#444}
a,.btn{-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease;}
a:hover{color:#e54}
/*--===清空浮动===--*/
.clearfix:after,.wrapper:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix,* html .wrapper{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix,*:first-child+html .wrapper{ zoom: 1; } /* IE7 */
.clearDiv{ clear:both; height:1px; overflow:hidden; font-size:1px; line-height:1px;}
.overflow-hide{ overflow:hidden}
/*--模糊滤镜--*/
#contMain{-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease;}
.blur {filter: url(../../lib/blur.svg#blur); /* FireFox, Chrome, Opera */-webkit-filter: blur(1em); /* Chrome, Opera */-moz-filter: blur(1em);-ms-filter: blur(1em);filter: blur(1em);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */}
/*--按钮--*/
input::-webkit-inner-spin-button {-webkit-appearance: none;}
input::-webkit-outer-spin-button {-webkit-appearance: none;}
input:focus::-webkit-input-placeholder{color:#ffffff;}
/*--表单--*/
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}

::-webkit-input-placeholder{color:#999;}
input[type="text"],input[type="password"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}

/*--禁用 radio 和 checkbox 默认样式--*/

input[type=radio]::-ms-check,input[type=checkbox]::-ms-check{display: none;}
/*ios系统中元素被触摸时产生的半透明灰色遮罩怎么去掉--*/
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0;)-webkit-user-modify:read-write-plaintext-only;}
input[type=radio]::-ms-check,input[type=checkbox]::-ms-check{display: none;}
a,input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);/*ios android去除自带阴影的样式*/
    }


@font-face {font-family: "iconfont";
  src: url('/spring1/static/fonts/iconfont.eot'); /* IE9*/
  src: url('/spring1/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/spring1/static/fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('/spring1/static/fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/spring1/static/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wodedingdan:before { content: "\e600"; }
.icon-gouwuche:before { content: "\e601"; }
.icon-fanhui:before { content: "\e602"; }
.icon-shoucang:before { content: "\e608"; }
.icon-jiantou:before { content: "\e609"; }
.icon-a:before { content: "\e60c"; }
.icon-dingwei:before { content: "\e60d"; }
.icon-qian:before { content: "\e610"; }
.icon-gerenzhongxin:before { content: "\e606"; }
.icon-shouye:before { content: "\e603"; }
.icon-yinxingqia:before { content: "\e60a"; }
.icon-jia01:before { content: "\e60b"; }
.icon-zanzan:before { content: "\e60f"; }
.icon-jifen:before { content: "\e605"; }
.icon-fenlei:before { content: "\e604"; }
.icon-iconfontjianjie:before { content: "\e60e"; }
.icon-xuexi:before { content: "\e607"; }



.container{ width:100%; max-width:640px; margin:0 auto}
.top-header{ width:100%; margin:0 auto; padding:10px 0 0 0; overflow:hidden;}
.nav-header{width:100%; margin:0 auto; padding:10px 0 ; overflow:hidden; text-align:center}
.nav-header i{font-family:"iconfont" !important;float:left; padding-left:10px;font-size:22px}
.nav-header em{font-family:"iconfont" !important; float:right; padding-right:10px; color:#069611; font-size:24px}
.nav-header em a{ color:#069611}
.top-header .logo{ float:left;  width:15%; padding-left:10px}
.top-header .logo img{ width:100%; height:auto}
.top-header .user{ float:right; text-align:right;padding-right:10px; color:#999; }
.top-header .user a{ padding:0 10px; display:inline-block}


.slider{display:none; width:100%; margin:0 auto}/*用于获取更加体验*/
.focus{ text-align:center; width:100%; text-align:center}
.focus span{width:8px;height:8px;margin-right:8px;border-radius:50%;background:#666;font-size:0; }
.focus span.current{background:#FF6E00}

.nav{ width:100%; margin:0 auto}
.nav li{ width:33.2%; float:left; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:3% 0; text-align:center; font-size:13px}
.nav li i{ font-family:"iconfont" !important; color:#f60; margin-right:2%;}
.nav li:nth-child(3n+0){border-right:0; margin-left:-1px;}
.font14{ font-size:1.3em}
.font12{ font-size:1.1em}

.ad-banner{ width:100%; margin:0 auto; padding-top:3%; background:#e9e9e9; overflow:hidden}
.ad-banner img{ width:100%; height:auto; float:left}

.shequ{ width:100%; margin:0 auto;padding-top:3%; background:#e9e9e9; overflow:hidden}
.shequ .pic{ width:50.9%; float:left}
.shequ .pic1{ width:49.1%; float:left}
.shequ .pic img,.shequ .pic1 img{ width:100%; height:auto; float:left}

.mod{width:100%; margin:0 auto;border-top:13px solid #e9e9e9; overflow:hidden}
.mod .title{ width:100%; border-bottom:1px solid #ddd; padding:2% 0; float:left}
.mod .title em{ width:10px; height:24px; background:#f60; float:left;}
.mod .title strong{ padding-left:3%; font-size:16px; float:left}
.mod .title i{ float:right; padding-right:10px; text-align:right; color:#999}
.mod .title i a{ padding-left:5px; color:#999}
.mod .pic{ width:90%; margin:0 auto ; overflow:hidden; padding:3% 5%}
.mod .pic .tui{ width:100%; float:left}
.mod .pic .tui .tu{ width:32%;  float:left; margin-right:3%; overflow:hidden; background:#000}
.mod .pic .tui .tu img{ max-width:100%; height:auto; display: inline-block;}
.mod .pic .tui h1{ width:65%; float:left; font-size:14px}
.mod .pic .tui p.daodu{ width:65%; height:36px; overflow:hidden; float:left; font-size:12px; line-height:18px}
.mod .pic .tui p.jiag{ width:65%; float:left; color:#c00; font-size:12px}
.mod .pic .tui p.jiag strong{ font-size:16px;}
.mod .pic .tui p.jiag a{ float:right; background:#c00; border-radius:5px; color:#fff; padding:0 15px}
.mod .pic .mtu{ width:100%; float:left; padding-top:10px;overflow:hidden;zoom: 1;}
.mod .pic .mtu li{float:left; display:inline;width:22%;margin-left:3%;}
.mod .pic .mtu li .img-pic{ width:100%; float:left; background:#f3f3f3; text-align:center;}
.mod .pic .mtu li .img-pic img{ max-width:100%;height:auto; display: inline-block;}
.mod .pic .mtu li p{ width:100%; height:36px; line-height:18px; overflow:hidden; float:left; font-size:12px}
.mod .pic .mtut{margin-left:-3%; overflow:hidden;zoom: 1;}
.mod .video{width:90%; margin:0 auto ; overflow:hidden; padding:3% 5%}
.mod .video li{ width:100%; float:left; margin-bottom:4%; }

.mod ul.anli{width:90%; margin:0 auto ; overflow:hidden; padding:3% 5%}
.mod ul.anli li{ width:100%; float:left; border-bottom:1px solid #ddd; overflow:hidden; padding-bottom:15px; margin-bottom:15px}
.mod ul.anli li .img-an{ width:30%; padding-right:5%; float:left; height:100px;}
.mod ul.anli li .img-an img{ width:100%; height:auto; float:left}
.mod ul.anli li .wz{ width:65%; float:left}
.mod ul.anli li .wz strong{ display:block; width:100%}
.mod ul.anli li .wz p{ width:100%; display:block; height:76px; overflow:hidden}


.mobox{ width:100%; margin:0 auto}
.mobox li{ width:50%; float:left; border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.mobox li .pic{ width:70%; padding:20px 15% 10px 15%; float:left}
.mobox li .pic img{ max-width:100%; height:auto; display:inline-block; float:left}
.mobox li .txt{ width:80%; padding:0 10%; float:left}
.mobox li .txt span{ width:100%; float:left; font-size:14px; padding-bottom:20px}
.mobox li .txt p{ width:100%; float:left; font-size:12px; color:#c00; line-height:20px;padding-bottom:10px }
.mobox li .txt p i{font-family:"iconfont" !important; color:#c00; font-size:14px}
.mobox li .txt p a{ float:right; padding:2px 15px; background:#c00; color:#fff; border-radius:5px}
.mobox li:nth-child(even){border-right:0;margin-left:-1px}


.qqserver .qqserver-header:after,.qqserver .qqserver-header:before,.qqserver li a:after,.qqserver li a:before{display:table;content:' '}
.qqserver .qqserver-header:after,.qqserver li a:after{clear:both}
.qqserver .qqserver-header,.qqserver li a,.tabs,.user-main,.view-category,.view-category-list>li{*zoom:1}
.qqserver{position:fixed;top:50%;right:0;height:209px; z-index:999}
.qqserver.unfold .qqserver-body{right:0}
.qqserver .qqserver-body{position:absolute;right:-144px;width:122px;height:183px;padding:12px 10px;-webkit-transition:.3s cubic-bezier(.19,1,.22,1);-o-transition:.3s cubic-bezier(.19,1,.22,1);transition:.3s cubic-bezier(.19,1,.22,1);border:1px solid #62b651;border-radius:4px;background:#f4f7fa}
.qqserver .qqserver_fold{position:absolute;right:0;padding:14px 7px;cursor:pointer;border-top-left-radius:4px;border-bottom-left-radius:4px;background:#70ca5d}
.qqserver .qqserver-header{padding-bottom:10px;padding-left:6px;border-bottom:1px dashed #d1d4cc}
.qqserver .qqserver-header *{float:left}
.qqserver .qqserver_arrow{margin-top:-1px;margin-left:7px;cursor:pointer}
.qqserver li{margin-top:6px}
.qqserver li a{display:block;padding:6px 0px 4px}
.qqserver li a div{font-size:14px;float:left;margin-right:11px;color:#697466}
.qqserver li a span{font-size:12px;line-height:18px;float:left;text-indent:4px;color:#fff}
.qqserver li a span.qqserver-service-alert{font-weight:400;display:block}
.qqserver li a:hover{text-decoration:none;border-radius:4px;background:#eaebe9}
.qqserver li a:hover div{color:#62b651}
.qqserver .qqserver-footer{margin-top:10px;padding-top:14px;padding-bottom:14px;padding-left:11px;border-top:1px dashed #d1d4cc}
.qqserver .qqserver-footer .text-primary{color:#70CA5D;font-size:14px;}
.qqserver .qqserver_icon-alert{display:inline-block;margin-right:10px;vertical-align:-3px;*display:inline;*zoom:1;*vertical-align:-1px}
.qqserver-header div{width:90px;height:18px;background-image:url(../images/backgrounds.32.png);background-position:-419px -80px}
.qqserver_icon-alert{width:16px;height:14px;background-image:url(../images/backgrounds.32.png);background-position:-595px -85px}
.qqserver li a span{width:43px;height:23px;background-image:url(../images/backgrounds.32.png);background-position:-265px 0}
.qqserver li a .qqserver-service-alert{width:30px;height:22px;background-image:url(../images/backgrounds.32.png);background-position:-342px 0}
.qqserver_fold div{width:26px;height:132px;background-image:url(../images/backgrounds.32.png);background-position:0 0}
.qqserver_fold:hover div{width:26px;height:132px;background-image:url(../images/backgrounds.32.png);background-position:-27px 0}
.qqserver_arrow{width:18px;height:18px;background-image:url(../images/backgrounds.32.png);background-position:-435px 0}
.qqserver_arrow:hover{width:18px;height:18px;background-image:url(../images/backgrounds.32.png);background-position:-435px -38px}

.user-my{ width:90%; padding:5%; background:#008C0B; margin:0 auto; overflow:hidden}
.user-my .my-pic{ width:100%; float:left}
.user-my .my-pic .pic-t{ width:20%; height:68px; float:left; margin-right:3%}
.user-my .my-pic .pic-t img{ width:100%; height:100%; border-radius:50%; float:left; border:2px solid #fff}
.user-my .my-pic .int-zt{ width:77%; float:left}
.user-my .my-pic .int-zt strong{ width:100%; float:left; color:#fff}
.user-my .my-pic .int-zt p.map{ width:100%; float:left; color:#fff; font-size:12px}
.user-my .my-pic .int-zt p.cute{width:100%; float:left; color:#fff; font-size:12px}
.user-my .my-pic .int-zt p.cute a{ float:right; color:#FFFD00}

.user-my .pic-txs{ width:30%; margin:0 auto; height:98px; display:block}
.user-my .pic-txs img{ width:100%; height:100%; border-radius:50%; border:2px solid #fff}
.user-my .pic-name { width:100%; text-align:center; margin:3% auto 0; display:block; color:#fff}
.user-my .erwm{ width:50%; margin:5% auto;}
.user-my .erwm img{ width:100%; height:auto; border:2px solid #fff}
.user-my .txian{ width:100%; color:#fff;  padding:4% 0 0; border-top:1px solid #008402; font-size:12px; line-height:18px; overflow:hidden; float:left; margin-top:3%}
.user-my .txian p{ float:left}
.user-my .txian p i{ color:#FFE500}
.user-my .txian a{ padding:1% 3%; color:#fff; background:#FF7E00; border-radius:5px; float:right}
.ico-mt{ width:100%; margin:0 auto; background:#CD6C00; padding:3% 0 5%; overflow:hidden}
.ico-mt li{ width:33%; float:left; text-align:center; font-size:14px; margin-top:3%}
.ico-mt li i{font-family:"iconfont" !important; color:#fff; width:100%; display:block; font-size:24px}
.ico-mt li a{ color:#fff}
.ico-mt strong{ text-align:center; width:100%; color:#fff; margin:0 auto; display:block}
.ico-mt p{ width:90%; margin:0 auto; color:#fff; font-size:12px; line-height:18px}

.nav-muen{ width:100%; margin:0 auto}
.nav-muen li{  width:100%; float:left; border-bottom:1px solid #ddd}
.nav-muen li i{ float:right;font-family:"iconfont" !important; color:#ddd;}
.nav-muen li a{ padding:3% 5%; width:90%; float:left; display:block}


.jiangjin{ width:100%; margin:0 auto}
.jiangjin li{  width:94%; float:left; border-bottom:1px solid #ddd; padding:3%; font-size:12px; line-height:18px}
.jiangjin li p{ float:left; }
.jiangjin li p i{ color:#f60}
.jiangjin li a{ padding:1% 3%; float:right; display:block; background:#f60; color:#fff; border-radius:5px}

.map-input{ width:100%; margin:0 auto; overflow:hidden}
.map-input li{ padding:3% 5%; width:90%; float:left; border-bottom:1px solid #ddd;}
.map-input li span{ float:left; width:25%;}
.map-input li input{ width:75%; float:left; height:24px; line-height:24px; font-size:14px}
.btnot{ width:100%; margin:5% auto; overflow:hidden}
.btnot a{ width:90%; padding:3% 0; text-align:center; font-size:16px; color:#fff; background:#f60; display:block; margin:0 auto; border-radius:5px;}

.gouwuche{ width:100%; margin:0 auto; padding:35% 0; text-align:center; overflow:hidden; border-top:1px solid #ddd}
.gouwuche i{ color:#f60;font-family:"iconfont" !important; text-align:center; font-size:120px; width:100%; line-height:120px; display:block; padding-bottom:5%}
.gouwuche p{ width:1005; text-align:center; color:#999; display:block; padding-bottom:5%}
.gouwuche a{ width:50%; background:#f60; color:#fff; text-align:center; padding:3% 0; border-radius:5px; margin:0 auto; display:block; font-weight:bold; font-size:18px}

.foote-fix{ width:100%; position:fixed; bottom:0;left:0; padding:2% 0; z-index:2; border-top:1px solid #ddd; background:#E9E9E9}
.foote-fix p{ padding-left:3%; float:left;}
.foote-fix p span{ color:#f60}
.foote-fix a{ padding:1% 5%; background:#f60; color:#fff; float:right; border-radius:5px; margin-right:3%}

.footer-fixr{ width:100%; position:fixed; bottom:0;left:0; z-index:2; border-top:1px solid #ddd; background:#E9E9E9}
.footer-fixr a.gwst{ width:49%; padding:2% 0; text-align:center; background:#ff6600; font-size:14px; border-right:1px solid #fff; float:left; color:#fff}
.footer-fixr a.dtdt{ width:50%; padding:2% 0; text-align:center; background:#FF0000; font-size:14px; float:left;color:#fff}


.gwc{ width:100%;margin:0 auto; border-top:1px solid #ddd; overflow:hidden; background:#ECECEC}
.gwc_tb2{ padding:2%; width:96%; float:left; border-bottom:1px solid #ddd; background:#fff; margin-bottom:5%}
.gwc_tb2 .pic{ width:25%; float:left; height:80px; overflow:hidden}
.gwc_tb2 .pic img{ width:100%; height:auto; float:left; display:inline-block}
.gwc_tb2 .txt{ width:55%; float:left;  padding-left:5%}
.gwc_tb2 .jiage{ margin-top:5px; width:100%;}
.gwc_tb2 .jiage p{ color:#f60}
.gwc_tb2 .jiage p span{ }
.gwc_tb3{ width:100%; position:fixed; bottom:0;left:0; background:#e9e9e9;padding:2% 0;z-index:2; border-top:1px solid #ddd; font-size:12px }
.crls{ font-size:18px; font-weight:bold; color:#f60; }
.mot{margin-top:5%}
.mots{margin-left:3%}
.jiesuan{ padding:1% 5%; background:#f60; color:#fff; float:right; border-radius:5px; margin-right:3%}
.checkboxFive {width: 25px;position: relative; float:left; margin-right:5%;}
.input-jia{ width:20px; height:20px; border:1px solid #ddd; background:#ccc; border-radius:0}
.input-nbr{ width:40px; height:20px; border:1px solid #ddd;  border-radius:0; text-align:center}
.checkboxFive label {cursor: pointer;position: absolute;width: 25px;height: 25px;top: 0;left: 0;background: #eee;border:1px solid #ddd;}
.checkboxFive label:after {opacity: 0.2;content: '';position: absolute;width: 9px;height: 5px;background: transparent;top: 6px;left: 7px;border: 3px solid #333;border-top: none;border-right: none;
 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkboxFive label:hover::after {opacity: 0.5;}
.checkboxFive input[type=checkbox]:checked + label:after {opacity: 1;}



.dan-menu{ width:100%; margin:0 auto; background:#008C0B; overflow:hidden}
.dan-menu li{float:left; width:20%;}
.dan-menu li a{ color:#FFF;height:31px; padding:5px 0 2px;text-align:center; float:left; width:100%}
.dan-menu li a:hover{ color:#F8FF00; border-bottom:1px solid #f60}
.dan-menu li a.dx{color:#F8FF00; border-bottom:1px solid #f60}


.fanli-menu{ width:100%; margin:0 auto; background:#008C0B; overflow:hidden; color:#fff}
.fanli-menu li{float:left; width:25%; text-align:center}
.fanlibd{ width:100%; margin:0 auto}
.fanlibd li{ width:100%; float:left; border-bottom:1px solid #ddd; font-size:12px; text-align:center}
.fanlibd li strong{ width:25%; float:left;  font-style:normal}
.fanlibd li em{ width:24.6%; float:left; border-right:1px solid #ddd}
.fanlibd li i{ width:24.6%; float:left; border-right:1px solid #ddd; color:#f60}
.fanlibd li p{ width:24.6%; float:left;border-right:1px solid #ddd; color:#999 }


.fanli-menu1{ width:100%; margin:0 auto; background:#008C0B; overflow:hidden;color:#fff}
.fanli-menu1 li{float:left; width:33.3%; text-align:center}

.fanlibd1{ width:100%; margin:0 auto}
.fanlibd1 li{ width:100%; float:left; border-bottom:1px solid #ddd; font-size:12px; text-align:center}
.fanlibd1 li p{ width:33.1%; float:left; border-right:1px solid #ddd;}
.fanlibd1 li em{ width:33.1%; float:left; border-right:1px solid #ddd}
.fanlibd1 li i{ width:33.1%; float:left;  color:#f60}

.dingdt{ width:100%; margin:0 auto; background:#ebebeb; overflow:hidden}
.dingdt li{ width:100%; padding:2% 0; float:left; background:#fff; border-bottom:1px solid #ddd; margin-bottom:5%}
.dingdt li .pic{ width:25%; float:left; height:80px; margin-right:5%; overflow:hidden}
.dingdt li .pic img{ width:100%; height:auto; display:inline-block; float:left}
.dingdt li .txt{ width:70%; float:left}
.dingdt li .txt strong{ width:100%; display:block}
.dingdt li .txt p{ width:100%; display:block}
.dingdt li .txt p span{ color:#f60; float:left; }
.dingdt li .txt p i{ color:#999; float:right; padding-right:10px;font-size:10px}
.dingdt li .fukuan{ width:70%; float:left; font-size:12px; color:#c00}
.dingdt li .fukuan a{ float:left; background:#f60; color:#fff; padding:1% 3%; display:block; font-size:12px; line-height:16px}
.dingdt li .hez{ width:100%;  float:left;font-size:12px; border-top:1px dashed #ddd; padding-top:2%}
.dingdt li .hez p{ float:left; margin-left:3%}
.dingdt li .hez a.bk{ border:1px solid #f60; background:#fff; color:#f60; padding:0 3%; float:right; margin-right:3%}

.video-lis{ width:100%; background:#ebebeb; margin:0 auto; overflow:hidden;}
.video-lis .tuivideo{ width:96%; float:left; height:150px; padding:2%; margin-bottom:5%; background:#fff}
.video-lis .tuivideo img{ width:100%; height:auto; display:inline-block; float:left}
.video-lis ul.viteo{ width:100%; float:left; background:#fff}
.video-lis ul.viteo li{ width:48%; float:left; margin-left:2%; margin-bottom:5%}
.video-lis ul.viteo li .videos{ width:100%; height:140px; overflow:hidden}
.video-lis ul.viteo li p{ width:100%; text-align:center; font-size:12px;}



dl.input{ width:90%; margin:0 auto; padding:5% 5% 0 5%; overflow:hidden}
dl.input dt{ width:100%;  float:left; font-size:12px}
dl.input dt span{ color:#999}
dl.input dd .jia-pic{ width:20%;float:left; position:relative; height:1em; font-size:4.5em;font-family:"iconfont" !important; margin-top:0.5em; color:#ddd; }
dl.input dd .jia-pic .inputstyle{width:100%;cursor: pointer;outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0; left:0px;top: 0px;}
dl.input dd .wenbk{ width:100%; height:72px; line-height:18px; border:1px solid #ddd;-webkit-appearance:none; border-radius:0}
dl.input dd a.find{ width:100%; background:#f60; color:#fff; text-align:center; padding:2% 0; border-radius:5px; display:block; margin-top:5%}

.mingxin{ width:96%; margin:0 auto; border-top:1px solid #ddd; padding:4% 2% 3%; background:#EFEFEF; border-bottom:1px solid #ddd; overflow:hidden}
.mingxin .pic-mx{ width:30%; float:left; border:1px solid #ddd}
.mingxin .pic-mx img{ width:100%; height:auto}
.mingxin .ziliao{ width:66%; float:right}
.mingxin .ziliao p{ width:100%; display:block; font-size:12px; }
.mingxin .ziliao p.name{ font-size:14px}
.mingxin .ziliao p.name i{ color:#f60; font-size:12px; padding-left:5px}
.mingxin .ziliao p.map{ width:100%; display:block}
.mingxin .ziliao p em{font-family:"iconfont" !important;  width:15px; height:15px; float:left; font-size:15px;  color:#999}
.mingxin .ziliao p.jianjie{ width:100%; height:54px; line-height:18px; overflow:hidden; margin-bottom:5px}
.mingxin .ziliao p a.ant{ float:left; background:#f60; color:#fff; padding:1% 2%; line-height:18px;}
ul.listsx{ width:100%; float:left; font-size:12px; line-height:30px; margin-top:3%}
ul.listsx li{ width:100%; border-bottom:1px dashed #ddd}

.xiangxi{ width:100%; margin:0 auto; background:#E9E9E9; overflow:hidden; border-top:1px solid #ddd}
.xiangxi .pic{ width:80%; padding:10% 10% 5% 10%; background:#fff; border-bottom:1px solid #ddd; float:left; margin-bottom:3%}
.xiangxi .pic img{ width:100%; height:auto; display:inline-block}
.xiangxi .pic p.bt{ width:100%; font-weight:bold; display:block; border-top:1px dashed #ddd; padding-top:2%}
.xiangxi .pic p.jiat{ width:100%; display:block;}
.xiangxi .pic p.jiat strong{ color:#f60}
.xiangxi .pic p.jiat em{ text-decoration:line-through; color:#999; font-size:12px; padding:0 5%}
.xiangxi .pic p.jiat i{ float:right; color:#999;}
.xiangxi .tupian{ width:96%; padding:5% 2%; border-top:1px solid #ddd; background:#fff; overflow:hidden; float:left}
.xiangxi .tupian img{ width:100%; height:auto}

.baogao{ width:100%; margin:0 auto}
.baogao ul{ background:#fff;  width:100%; float:left}
.baogao li{ width:90%; padding:3% 5%; float:left; border-bottom:1px solid #ddd}
.baogao li .box{ width:100%; float:left}
.baogao li .box .ren{ width:100%; display:block;  float:left;}
.baogao li .box .ren .geren{ width:50%; float:left;  font-size:16px; font-weight:bold}
.baogao li .box .ren .jing{ width:50%; float:left; text-align:right; color:#999;font-size:12px;font-family:"iconfont" !important;}
.baogao li .box .wenzhang{ width:100%; float:left; padding:2% 0;font-size:12px; }
.baogao li .box .wenzhang h1{ width:100%; display:block;font-size:14px;}
.baogao li .box .wenzhang p{ width:auto; line-height:20px}

.suofang{  width:100%; position:relative}
.gallery{width:100%; float:left; padding:3% 0;overflow:hidden;zoom: 1;}
.gallery li{float:left; width:31%;margin-left:2%; height:8em; padding:0; border-bottom:none; overflow:hidden}
.gallery li a{height:100%;width:100%;}
.gallery li a img{width:100%; height:auto; float:left}
.btnst{ width:auto; background:#fff; color:#c00; position:absolute; bottom:0;right:0; padding:1% 2% 1% 1%}


.tixian{ width:100%; padding:8% 0; margin:0 auto; overflow:hidden; border-top:1px solid #ddd}
.tixian i{font-family:"iconfont" !important; width:100%; height:50px; font-size:50px; color:#FFD600; display:block; text-align:center}
.tixian span{ width:100%; display:block; text-align:center; font-size:12px}
.tixian strong{ width:100%; display:block; text-align:center; font-size:16px}
.tixian a{ background:#149B00; border-radius:5px; padding:2% 0; text-align:center; font-size:14px; color:#fff; width:96%; display:block; margin-top:3%; margin-left:2%}

.list-cet{ width:96%; margin:0 auto; overflow:hidden; border-top:1px solid #ddd;background:#E9E9E9; padding:2%}
.list-cet-text{width:96%; margin:0 auto; overflow:hidden; border-top:1px solid #ddd; padding:2%}
.list-cet-text .conts{ width:100%; float:left}
.list-cet-text .conts h1{ width:100%; display:block; font-size:16px; text-align:center}
.list-cet-text .conts p{ width:100%; display:block;font-size:12px; text-align:center}
.list-cet-text .conts p i{ padding-right:2%; }
.list-cet-text .conts p me{ }
.list-cet-text .wenzt{ width:100%; float:left; font-size:14px; margin-top:2%}
.cents{ width:100%;border-top:1px solid #ddd; margin:0 auto; padding:2% 0}
.lis{ width:100%; float:left}
.lis li{ width:100%; float:left; padding-bottom:2%; margin-bottom:2%; border-bottom:1px dashed #ddd}
.dtxx{ width:100%; float:left; font-size:12px; background:#fff}
.dtxx li{ width:96%; padding:2%; border-bottom:1px solid #ddd; float:left}
.dtxx li strong{ color:#DF0000; font-size:16px}
.dtxx li span{ padding-left:5%}
.dtxx li a{ width:100%; padding:2% 0; background:#f60; color:#fff; font-size:16px; display:block; text-align:center; border-radius:5px}


.box-xx{ width:100%; background:#fff;  border:1px solid #ddd; float:left; margin-bottom:5%}
.box-xx .title{ width:90%; display:block; border-bottom:1px solid #ddd; font-size:14px; padding:2% 5%; float:left}
.box-xx .title strong{ float:left}
.box-xx .title a{ background:#01A400; padding:0 3%; color:#fff; text-decoration:none; float:right; border-radius:5px}
.box-xx .zliao{ width:90%; padding:5%; display:block; float:left}
.box-xx .zliao p{ display:block; width:100%; font-size:12px}
.box-xx .zliao p a{ background:#c00; color:#fff; padding:0 2%;border-radius:5px }
.box-xx .pic-tupian{width:90%; padding:5%; display:block; float:left}
.box-xx .pic-tupian img{ width:30%; float:left; margin-right:5%; height:auto}
.box-xx .pic-tupian .wzo{ width:65%; float:left; position:relative}
.box-xx .pic-tupian .wzo p{ width:100%; display:block}
.box-xx .pic-tupian .wzo span{width:100%; display:block}
.box-xx .pic-tupian .wzo i{width:100%; display:block; color:#999}
.box-xx .pic-tupian .wzo a{ color:#fff; background:#f60; padding:0 3%;border-radius:5px; right:0;bottom:0; position:absolute}



.black_overlay{display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
.white_content {display: none;position: absolute;top: 35%;left: 5%;width: 90%;height: 30%;border: 5px solid #000;background-color:#fff;z-index:1002;overflow: auto; text-align:center}
.white_content a{ color:#003CFF}
.guanbi{text-align: right; cursor: default; height: 40px;}
.guanbi span{ background:#c00; width:30px; height:30px; color:#fff; line-height:30px; text-align:center;  display:block; float:right; font-size:16px}
.white_content{display: none;position: absolute;top:5%;left: 5%;width: 90%;height: 60%;z-index:1002;overflow: auto; }
.white_content .title{ width:100%; border-bottom:1px solid #ddd; text-align:center; float:left; padding-bottom:2%}
.white_content .int{ width:100%; float:left; margin:3% 0}
.white_content .int textarea{ width:90%; border:1px solid #ddd; height:60px}
.white_content .anniou{ width:100%; text-align:center; float:left}
.white_content .anniou a.yan{ background:#0EA023; color:#fff; text-decoration:none; padding:1% 5%;border-radius:5px; font-size:14px}
